<html>
  <head>
    <title>Rendering Dynamic Images Using FastAPI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='style.css') }}">
    <script src="{{ url_for('static', path='panzoom.min.js') }}"></script>

    <style>
      .image-box #image1 {
        cursor: grab;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .image-box-none {
        pointer-events: none;
      }

      .panzoom-parent {
          position: relative;
          border: 1px solid black;
          width: 100%;
          height: 100%;
      }

      .panzoom {
          position: relative;
          width: 100%;
          height: 100%;
      }

      .panzoom img {
          display: block;
          margin: 0 auto;
          max-width: 100%;
      }
    </style>
  </head>
  <body>

    <form action="/uploadfile" enctype="multipart/form-data" method="POST">
      <input name="file" type="file" />
      <input type="submit" />
    </form>

    <button zoom-in>Zoom In</button>
    <button zoom-out>Zoom Out</button>
    <button zoom-reset>Reset</button>

    {% if image1 %}
    <h3>Rendered Image</h3>

    <div class="grid-container" id="grid-container">
      <div class="panzoom-parent" id="image1-box">
          <div class="panzoom">
              <img id="image1" src="data:image/jpeg;base64,{{ image1 }}" alt=""/>
          </div>
      </div>
      <div class="panzoom-parent image-box-none" id="image2-box">
          <div class="panzoom">
              <img id="image2" src="data:image/jpeg;base64,{{ image2 }}" alt=""/>
          </div>
      </div>
      <div class="panzoom-parent image-box-none" id="image3-box">
          <div class="panzoom">
              <img id="image3" src="data:image/jpeg;base64,{{ image3 }}" alt=""/>
          </div>
      </div>
      <div class="panzoom-parent image-box-none" id="image4-box">
          <div class="panzoom">
              <img id="image4" src="data:image/jpeg;base64,{{ image4 }}" alt=""/>
          </div>
      </div>
    </div>

    <script type="text/javascript">
      const xOffset = 10;
      const yOffset = 150;

      const image1 = document.getElementById('image1');
      const image2 = document.getElementById('image2');
      const image3 = document.getElementById('image3');
      const image4 = document.getElementById('image4');

      const panzoom1 = Panzoom(image1, { maxScale: 20 });
      const panzoom2 = Panzoom(image2, { handleStartEvent: () => {} });
      const panzoom3 = Panzoom(image3, { handleStartEvent: () => {} });
      const panzoom4 = Panzoom(image4, { handleStartEvent: () => {} });

      var zoomInButton = document.querySelector('[zoom-in]');
      var zoomOutButton = document.querySelector('[zoom-out]');
      var zoomResetButton = document.querySelector('[zoom-reset]');

      zoomInButton.addEventListener('click', panzoom1.zoomIn);
      zoomOutButton.addEventListener('click', panzoom1.zoomOut);
      zoomResetButton.addEventListener('click', panzoom1.reset);

      image1.addEventListener('panzoomchange', (event) => {
        //console.log(event.detail) // => { x: 0, y: 0, scale: 1 }
        const details = event.detail;
        const x = details.x;
        const y = details.y;
        const scale = details.scale;
        panzoom2.pan(x,y);
        panzoom2.zoom(scale);
        panzoom3.pan(x,y);
        panzoom3.zoom(scale);
        panzoom4.pan(x,y);
        panzoom4.zoom(scale);
      });

      image1.addEventListener('dblclick', (event) => {
        const myDiv = document.getElementById('image1-box');
        const myDivWidth = myDiv.offsetWidth;
        const myDivHeight = myDiv.offsetHeight;

        console.log([myDivWidth/2, myDivHeight/2, event.clientX, event.clientY]);

        curScale = panzoom1.getScale();
        panzoom1.zoomToPoint(curScale*(1.3), event);
      });

      function adjustContainerHeight() {
          console.log('adjustContainerHeight');
          const gridContainer = document.getElementById('grid-container');
          const windowHeight = window.innerHeight;
          const containerHeight = Math.max(windowHeight - gridContainer.offsetTop - 10, 200);
          console.log(containerHeight);
          gridContainer.style.height = `${containerHeight}px`;
        }

        // Adjust container height initially and on window resize
        adjustContainerHeight();
        window.addEventListener('resize', adjustContainerHeight);

    </script>

    {% else %}
    <h1>Image will be render here...</h1>
    {% endif %}

  </body>
</html>
