<html>
  <head>
    <title>Rendering Dynamic Images Using FastAPI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='style.css') }}">
    <script src="https://unpkg.com/@panzoom/panzoom@4.5.1/dist/panzoom.min.js"></script>

    <style>
      .image-box #image1 {
        cursor: grab;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .image-box-none {
        pointer-events: none;
      }
    </style>
  </head>
  <body>

    <form action="/uploadfile" enctype="multipart/form-data" method="POST">
      <input name="file" type="file" />
      <input type="submit" />
    </form>

    <button zoom-in>Zoom In</button>
    <button zoom-out>Zoom Out</button>
    <button zoom-reset>Reset</button>

    {% if image1 %}
    <h3>Rendered Image</h3>

    <div class="grid-container">
        <div class="image-box" id="image1-box"><img id="image1" src="data:image/jpeg;base64,{{ image1 }}" alt=""/></div>
        <div class="image-box-none"><img id="image2" src="data:image/jpeg;base64,{{ image2 }}" alt=""/></div>
        <div class="image-box-none"><img id="image3" src="data:image/jpeg;base64,{{ image3 }}" alt=""/></div>
        <div class="image-box-none"><img id="image4" src="data:image/jpeg;base64,{{ image4 }}" alt="Final Result"/></div>
    </div>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        var image1 = document.getElementById('image1');
        var image2 = document.getElementById('image2');
        var image3 = document.getElementById('image3');
        var image4 = document.getElementById('image4');

        var zoomInButton = document.querySelector('[zoom-in]');
        var zoomOutButton = document.querySelector('[zoom-out]');
        var zoomResetButton = document.querySelector('[zoom-reset]');

        const panzoom1 = Panzoom(image1, { maxScale: 5 });
        const panzoom2 = Panzoom(image2, { handleStartEvent: () => {} });
        const panzoom3 = Panzoom(image3, { handleStartEvent: () => {} });
        const panzoom4 = Panzoom(image4, { handleStartEvent: () => {} });

        zoomInButton.addEventListener('click', panzoom1.zoomIn);
        zoomOutButton.addEventListener('click', panzoom1.zoomOut);
        zoomResetButton.addEventListener('click', panzoom1.reset);

        image1.addEventListener('panzoomchange', (event) => {
          console.log(event.detail) // => { x: 0, y: 0, scale: 1 }
          const details = event.detail;
          const x = details.x;
          const y = details.y;
          const scale = details.scale;
          panzoom2.pan(x,y);
          panzoom2.zoom(scale);
          panzoom3.pan(x,y);
          panzoom3.zoom(scale);
          panzoom4.pan(x,y);
          panzoom4.zoom(scale);
        });

        // Get the dimensions of the image
        const width = image1.naturalWidth;
        const height = image1.naturalHeight;

        const myDiv = document.getElementById('image1-box');
        const myDivWidth = myDiv.offsetWidth;
        const myDivHeight = myDiv.offsetHeight;

        console.log(width);
        console.log(myDivWidth);

        panzoom1.zoom(myDivWidth/width);
        panzoom1.pan((myDivWidth - width)/2, (myDivHeight - height)/2);
      });
    </script>

    {% else %}
    <h1>Image will be render here...</h1>
    {% endif %}

  </body>
</html>
